.parent > p {
    background-color: rgba(211, 151, 1, 0.3);
    color: rgb(175, 53, 53);
    background-blend-mode:color-dodge;
}
.header > h {
    font-style:italic;
    color:rgb(229, 41, 69);
    text-decoration:underline;
}
body {
    background-color: rgb(216, 186, 157);
}
.header {
    background-color:blanchedalmond;
}
/* -------------------------------------------- */




@media only screen and (max-width: 670px) {
    .parent > p {
        background-color: rgba(137, 132, 163, 0.3);
        color: rgb(255, 0, 0);
        background-blend-mode: color-burn;
    }
    .header > h {
        font-style:oblique;
        color:rgb(196, 97, 112);
        text-decoration:underline;
    }
    body {
        background-color: bisque;
    }
    .header {
        background-color:blanchedalmond;
    }
    
    
    
}
